extends ../../layouts/default.pug
include ../../mixins/moment.pug

block main
  h1(class="mb-4") Chi tiết tài khoản khách hàng

  .container
    if item.avatar
      .row.mb-3
        .col-md-12.text-center
          img(src=item.avatar, alt="Avatar", class="img-thumbnail rounded-circle mb-3", style="width: 150px; height: 150px; object-fit: cover;")

    .row.mb-3
      .col-md-2
        strong Họ và tên:
      .col-md-10
        | #{item.fullName}
    
    .row.mb-3
      .col-md-2
        strong Email:
      .col-md-10
        | #{item.email}
    
    if item.phone
      .row.mb-3
        .col-md-2
          strong Số điện thoại:
        .col-md-10
          | #{item.phone}
    
    .row.mb-3
      .col-md-2
        strong Trạng thái:
      .col-md-10
        | #{item.status}
    
    .row.mb-3
      .col-md-2
        strong Ngày tạo:
      .col-md-10
        +formatDateTime(item.createdAt)

    .row.mb-3
      .col-md-2
        strong Ngày cập nhật:
      .col-md-10
        +formatDateTime(item.updatedAt)
    
    if item.listFriend && item.listFriend.length > 0
      .row.mb-3
        .col-md-2
          strong Bạn bè:
      .row.mb-3
        .col-md-10
          .row
            each friend in item.listFriend
              .col-md-4.mb-3
                .card
                  img.card-img-top(
                    src=(friend.friendInfo.avatar ?friend.friendInfo.avatar : "/clients/images/avt-user.png" )
                    alt=friend.friendInfo.fullName, style="width: 100%; height: 150px; object-fit: cover;"
                  )
                    
                  .card-body.text-center
                    h5.card-title
                      a(href=`/${prefixAdmin}/users/detail/${friend.friendInfo.id}`) #{friend.friendInfo.fullName}
