extends ../../layouts/default.pug
include ../../mixins/moment.pug
block main
  
  if (record.title)
    h1(class="mb-4") Chi tiết danh mục sản phẩm: 
    h2(class="mb-4") #{record.title}
  if (record.thumbnail)
    div(class="mb-4")
      img(
        src=record.thumbnail
        style="width: 100px"
      )
  if (record.status)
    div(class="mb-4")
      span Trạng thái:
      if (record.status === "active")
        span(class="badge badge-success") Hoạt động
      else
        span(class="badge badge-danger") Dừng hoạt động
  if (record.description)
    div(class="mb-4") !{record.description}
  if(userCreated)
    div(class="mb-4") Người tạo:  
      div(class="mb-4") 
        span(class="mr-4") 
          a(href=`/${prefixAdmin}/accounts/detail/${userCreated._id}`) #{userCreated.fullName}
        +formatDateTime(record.createAt)
  if(listUserUpdated && listUserUpdated.length>0)
    div(class="mb-4") Lịch sử cập nhật:
    each userUpdated in listUserUpdated
      div(class="mb-4") 
        span(class="mr-4")
          a(href=`/${prefixAdmin}/accounts/detail/${userUpdated.infoUser._id}`) #{userUpdated.infoUser.fullName}
        +formatDateTime(userUpdated.createAt)