extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main
  
  .container.my-3
    include ../../partials/list-btn-friends.pug
    .row
      .col-12
        +box-head("Gợi ý kết bạn")
    .row(page-suggest-friend)
      each user in listUsers 
        .col-6(box-user-id=user.id)
          div(class="box-user")
            div(class="inner-avatar")
                img(
                    src=(user.avatar ? user.avatar : "/clients/images/avt-user.png" )
                    alt=user.fullName
                )
            div(class="inner-info") 
                div(class="inner-name")
                  a(href=`/user/detail/${user.id}`) #{user.fullName}
                div(class="inner-buttons") 
                    button(
                        class="btn btn-sm btn-primary mr-1"
                        btn-add-friend=user.id
                    ) Kết bạn
                    button(
                        class="btn btn-sm btn-secondary mr-1"
                        btn-cancel-friend=user.id
                    ) Hủy
    
block script 
  script(src="/clients/js/friends.js") 