extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main
  
  .container.my-3
    include ../../partials/list-btn-friends.pug
    .row
      .col-12
        +box-head("Danh sách Bạn bè")
    .row(page-list-friends) 
      each user in listUsers 
        .col-6(box-user-id=user.id)
          div(class="box-user")
            div(class="inner-avatar")
                img(
                    src=(user.avatar ? user.avatar : "/clients/images/avt-user.png" )
                    alt=user.fullName
                )
            div(class="inner-info") 
                div(class="inner-name")
                  a(href=`/user/detail/${user.id}`) #{user.fullName}
                div(class="inner-buttons") 
                  a(
                    href=`/chat/inroom/${user.room_id}`
                    class="btn btn-sm btn-primary mr-1"
                  ) Nhắn tin
              
                    
           

    
block script 
  script(src="/clients/js/friends.js") 