extends ../../layouts/default.pug
include ../../mixins/moment.pug

block main
  

  .container
    h3(class="mb-4") Thông tin người dùng
    
    .row.mb-3
      .col-md-12.text-center
        img(src=(item.avatar ?item.avatar : "/clients/images/avt-user.png" ), alt="Avatar", class="img-thumbnail rounded-circle mb-3", style="width: 150px; height: 150px; object-fit: cover;")
        .mt-2
          strong Ảnh đại diện

    .row.mb-3
      .col-md-2
        strong Họ và tên:
      .col-md-10
        | #{item.fullName}
    
    .row.mb-3
      .col-md-2
        strong Email:
      .col-md-10
        | #{item.email}
    
    if item.phone
      .row.mb-3
        .col-md-2
          strong Số điện thoại:
        .col-md-10
          | #{item.phone}
    .row.mb-3
      .col-md-2
        strong Ngày tạo:
      .col-md-10
        +formatDateTime(item.createdAt)
    
    if item.listFriend && item.listFriend.length > 0
      .row.mb-3
        .col-md-2
          strong Bạn bè:
      .row.mb-3
        .col-md-10
          .row
            each friend in item.listFriend
              .col-md-4.mb-3
                .card
                  img.card-img-top(
                    src=(friend.friendInfo.avatar ?friend.friendInfo.avatar : "/clients/images/avt-user.png" )
                    alt=friend.friendInfo.fullName, style="width: 100%; height: 150px; object-fit: cover;"
                  )
                    
                  .card-body.text-center
                    h5.card-title
                      a(href=`/user/detail/${friend.friendInfo.id}`) #{friend.friendInfo.fullName}
