.row(myId=user.id) 
    .col-12 
        a(
            class="btn btn-primary m-1"
            href="/friends"
        ) Danh sách bạn bè
        a(
            class="btn btn-primary m-1"
            href="/friends/not-friend"
        ) Gợi ý kết bạn
        
        a(
            class="btn btn-primary m-1"
            href="/friends/request-from-me"
        ) Lời mời đã gửi
        a(
            class="btn btn-primary m-1"
            href="/friends/request-to-me"
        ) Lời mời kết bạn